@import "../../../Style_variables/Variables.scss";

.Sidebar {
  display: flex;
  max-width: 1440px;
  margin: auto;
  .main_sidebar {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    height: 84.9vh;
    width: 283px;
    overflow-y: scroll;
    .switch_org {
      display: flex;
      align-items: center;
      margin-top: 39px;
      padding: 0px 35px;
      .switch_org_text {
        font-style: normal;
        font-weight: 400;
        font-size: 14.5px;
        line-height: 19px;
        color: $primary_color;
        margin: 0px 15px;
      }
      .switch_arrow {
        cursor: pointer;
      }
    }
    .dashboard_text_container {
      display: flex;
      align-items: center;
      margin-top: 52px;
      margin-bottom: 41px;
      padding: 0px 35px;
      opacity: .6;
      .dashboard_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-left: 15px;
        color: $primary_color;
      }
    }
    .sidebar_title {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: $text_color;
      text-transform: uppercase;
      padding: 0px 35px;
    }
    .sidebar_link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity: .6;
      padding: 20px 35px;
      cursor: pointer;
      .link_title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-left: 15px;
        color: $primary_color;
      }
    }
    .sidebar_link_selected {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $sidebar_link_background;
      border-left: 3px solid $secondary_color;
      padding: 20px 35px;
      cursor: pointer;
      .link_title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-left: 15px;
        color: $primary_color;
      }
    }
  }
  .main_content {
    background-color: #fbfbfb;
    width: 80%;
  }
}

//Hide Scrollbar
.main_sidebar::-webkit-scrollbar {
  display: none;
}
